numpy==2.1.2
scipy==1.14.1
torch==2.5.1
torchvision==0.20.1
onnxruntime==1.20.0
cloudpickle==3.1.0
Flask==3.0.3
Pillow==11.0.0
scikit-image==0.24.0
setuptools==57.4.0
pyinstaller==6.11.0
#matplotlib<3.2
